In [1]:
# Import Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
# import Dataset
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
salary_train=pd.read_csv('/content/drive/MyDrive/DS Data Sets/Naive Bayes/SalaryData_Train.csv.crdownload')
salary_test=pd.read_csv('/content/drive/MyDrive/DS Data Sets/Naive Bayes/SalaryData_Test.csv')

In [6]:
salary_train

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25180,19,Private,Some-college,10,Never-married,Tech-support,Not-in-family,White,Female,0.0,0.0,25.0,United-States,<=50K
25181,33,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
25182,32,Private,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0.0,0.0,80.0,United-States,<=50K
25183,52,Private,HS-grad,9,Divorced,Transport-moving,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
25184,36,Private,Some-college,10,Separated,Other-servic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
salary_test

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,Private,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
15056,39,Private,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
15057,38,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
15058,44,Private,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
15059,35,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [9]:
# EDA

In [11]:
salary_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25185 entries, 0 to 25184
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            25185 non-null  int64
 1   workclass      25185 non-null  object
 2   education      25185 non-null  object
 3   educationno    25185 non-null  int64
 4   maritalstatus  25185 non-null  object
 5   occupation     25185 non-null  object
 6   relationship   25184 non-null  object
 7   race           25184 non-null  object
 8   sex            25184 non-null  object
 9   capitalgain    25184 non-null  float64
 10  capitalloss    25184 non-null  float64
 11  hoursperweek   25184 non-null  float64
 12  native         25184 non-null  object
 13  Salary         25184 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 2.7+ MB

In [13]:
salary_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            15060 non-null  int64
 1   workclass      15060 non-null  object
 2   education      15060 non-null  object
 3   educationno    15060 non-null  int64
 4   maritalstatus  15060 non-null  object
 5   occupation     15060 non-null  object
 6   relationship   15060 non-null  object
 7   race           15060 non-null  object
 8   sex            15060 non-null  object
 9   capitalgain    15060 non-null  int64
 10  capitalloss    15060 non-null  int64
 11  hoursperweek   15060 non-null  int64
 12  native         15060 non-null  object
 13  Salary         15060 non-null  object
dtypes: int64(5), object(9)
memory usage: 1.6+ MB

In [18]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
salary_train['workclass']=le.fit_transform(salary_train['workclass'])
salary_train['education']=le.fit_transform(salary_train['education'])
salary_train['maritalstatus']=le.fit_transform(salary_train['maritalstatus'])
salary_train['occupation']=le.fit_transform(salary_train['occupation'])
salary_train['relationship']=le.fit_transform(salary_train['relationship'])
salary_train['race']=le.fit_transform(salary_train['race'])
salary_train['sex']=le.fit_transform(salary_train['sex'])
salary_train['native']=le.fit_transform(salary_train['native'])

In [19]:
salary_train

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,5,9,13,4,0,1,4,1,2174.0,0.0,40.0,37,<=50K
1,50,4,9,13,2,3,0,4,1,0.0,0.0,13.0,37,<=50K
2,38,2,11,9,0,5,1,4,1,0.0,0.0,40.0,37,<=50K
3,53,2,1,7,2,5,0,2,1,0.0,0.0,40.0,37,<=50K
4,28,2,9,13,2,10,5,2,0,0.0,0.0,40.0,4,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25180,19,2,15,10,4,13,1,4,0,0.0,0.0,25.0,37,<=50K
25181,33,4,11,9,2,2,0,4,1,0.0,0.0,40.0,37,<=50K
25182,32,2,11,9,0,8,4,4,0,0.0,0.0,80.0,37,<=50K
25183,52,2,11,9,0,14,1,4,1,0.0,0.0,40.0,37,<=50K
25184,36,2,15,10,5,7,6,5,2,NaN,NaN,NaN,40,NaN

In [21]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
salary_test['workclass']=le.fit_transform(salary_test['workclass'])
salary_test['education']=le.fit_transform(salary_test['education'])
salary_test['maritalstatus']=le.fit_transform(salary_test['maritalstatus'])
salary_test['occupation']=le.fit_transform(salary_test['occupation'])
salary_test['relationship']=le.fit_transform(salary_test['relationship'])
salary_test['race']=le.fit_transform(salary_test['race'])
salary_test['sex']=le.fit_transform(salary_test['sex'])
salary_test['native']=le.fit_transform(salary_test['native'])

In [23]:
salary_test

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,2,1,7,4,6,3,2,1,0,0,40,37,<=50K
1,38,2,11,9,2,4,0,4,1,0,0,50,37,<=50K
2,28,1,7,12,2,10,0,4,1,0,0,40,37,>50K
3,44,2,15,10,2,6,0,2,1,7688,0,40,37,>50K
4,34,2,0,6,4,7,1,4,1,0,0,30,37,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,2,9,13,4,9,3,4,1,0,0,40,37,<=50K
15056,39,2,9,13,0,9,1,4,0,0,0,36,37,<=50K
15057,38,2,9,13,2,9,0,4,1,0,0,50,37,<=50K
15058,44,2,9,13,0,0,3,1,1,5455,0,40,37,<=50K
15059,35,3,9,13,2,3,0,4,1,0,0,60,37,>50K

In [25]:
salary_trainx=salary_train.iloc[:,0:13]
salary_trainy=salary_train.iloc[:,-1]
salary_testx=salary_test.iloc[:,0:13]
salary_testy=salary_test.iloc[:,-1]

In [27]:
# Model Training

In [29]:
# train Gaussian Naive Bayes Classifier
from sklearn.naive_bayes import GaussianNB

In [38]:
classifier_gb=GaussianNB()

In [ ]:
# check for null values
print(salary_trainx.isnull().sum())
print(salary_trainy.isnull().sum())

In [36]:
 # Drop rows with null values
 salary_trainx.dropna(inplace=True)
 salary_trainy.dropna(inplace=True)

In [37]:
# Reset the indices of DataFrame
salary_trainx.reset_index(drop=True,inplace=True)
salary_trainy.reset_index(drop=True,inplace=True )

In [40]:
classifier_gb.fit(salary_trainx,salary_trainy)

GaussianNB()

In [41]:
# Model Predictions

In [43]:
y_pred=classifier_gb.predict(salary_testx)
y_pred

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' >50K', ' <=50K'],
      dtype='<U6')

In [46]:
# Accuracy Score
from sklearn.metrics import accuracy_score

In [48]:
print(accuracy_score(salary_testy, y_pred))

0.7960159362549801

In [50]:
# Confusion Matrix
from sklearn.metrics import confusion_matrix

In [52]:
cm=confusion_matrix(salary_testy,y_pred)
print(cm)

[[10773   587]
 [ 2485  1215]]

In [54]:
# Classification report
from sklearn.metrics import classification_report

In [55]:
print(classification_report(salary_testy,y_pred))

              precision    recall  f1-score   support

       <=50K       0.81      0.95      0.88     11360
        >50K       0.67      0.33      0.44      3700

    accuracy                           0.80     15060
   macro avg       0.74      0.64      0.66     15060
weighted avg       0.78      0.80      0.77     15060